<html>
  <head>
    <title>Edit <%= @page.title %></title>
     <link rel="stylesheet" type="text/css" href="/stylesheets/niki.css" />
  </head>
  <body>
    <% if @error_message %>
      <section id="errors">
        <p><%= @error_message %></p>
      </section>
    <% end %>

    <section id="content">
      <h1>Editing <em><%= @page.title %></em></h1>
      <form method="POST" action="/pages/<%= @page.url %>" class="page" >
        <label for="title">Title</label>
        <input type="text" name="title" value="<%= @page.title %>" />

        <label for="content">Content</label>
        <textarea name="content"><%= @page.content %></textarea>

        <section class="actions">
          <a href="/pages">Back to page list</a>
          <input type="submit" value="Save Changes" />
        </section>
     </form>
    </section>
  </body>
</html>
